.double_next_reward_button_container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 2rem;
    height: 2rem;
    background-color: var(--scoreboard_player_action_buttons_background_color);
    font-size: 1rem;
    color: var(--white_text_color);
    text-align: center;
}

.double_next_reward_button_container:hover {
    background-color: var(--scoreboard_player_action_buttons_background_hover_color);
    cursor: pointer;
}